.haaa{
    width:100%;
    height:100px;
   
    background-color: aqua;
   
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.img:hover{
    width:150px;
    height:150px;
    margin: 50px;

    transition: width 1s, height 1s;

}



.hehe{
    width: 50px;
    height: 50px;
    background-color: rgb(50, 252, 252);

   
}
.hehe:hover{
    width:200px;
    height:200px;
    background-color: aqua;
    transition: width 1s, height 1s;
    animation-name:huhu;  
    animation-duration: 5s; 
    animation-iteration-count: 1;
}
@keyframes huhu  {
    0%{
        border-radius: 0px;
   }
    30% {
        border-radius: 100px;
   }
   100% {
      border-radius: 100px;
}
}
